<mat-card>
    <mat-card-header>
        <mat-card-title>Dispenser 2</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="primary" (click)="dispenserDetail({},-1)">Tambah Data</button>
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>                
                <th>No</th>
                <!--title diganti date-->
                <th>Date</th>
                <!--Penulis diganti waterheight-->
                <th>Water Height</th>
                
                <th align="right">#</th>
            </thead>
            <tbody>
                <tr *ngFor="let dispenser_2 of dispensers_2; let idx=index">
                    <td>{{idx+1}}</td>
                    <!--title diganti date-->
                    <td>{{dispenser_2.date}}</td>
                    <!--author itu water height-->
                    <td>{{dispenser_2.water_height}}</td>
                    
                    <td align="right">
                        <button mat-button color="primary" (click)="dispenserDetail(dispenser_2,idx)">Edit</button>
                        <button mat-button color="warn" (click)="deleteDispenser2(idx)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
 </mat-card>